{% extends 'base.html.twig' %}

{% block title %}Classe index{% endblock %}

{% block body %}
    <h1>Classe index</h1>
    <a href="{{ path('app_classe_new') }}">Create new</a>
    <br/><br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Dv</th>
                <th>Armor</th>
                <th>Weapon</th>
                <th>Tool</th>
                <th>Save</th>
                <th>Competence</th>
                <th>Equipment1</th>
                <th>Equipment2</th>
                <th>Equipment3</th>
                <th>Equipment4</th>
                <th>Equipment5</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classe in classes %}
            <tr>
                <td>{{ classe.id }}</td>
                <td>{{ classe.name }}</td>
                <td>{{ classe.dv }}</td>
                <td>{{ classe.Armor }}</td>
                <td>{{ classe.weapon }}</td>
                <td>{{ classe.tool }}</td>
                <td>{{ classe.save }}</td>
                <td>{{ classe.competence }}</td>
                <td>{{ classe.equipment1 }}</td>
                <td>{{ classe.equipment2 }}</td>
                <td>{{ classe.equipment3 }}</td>
                <td>{{ classe.equipment4 }}</td>
                <td>{{ classe.equipment5 }}</td>
                <td>
                    <a href="{{ path('app_classe_show', {'id': classe.id}) }}">show</a>
                    <a href="{{ path('app_classe_edit', {'id': classe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
