{% extends 'base.html.twig' %}

{% block title %}Listes des sorts du niveau {{ level }}{% endblock %}

{% block stylesheets %}
    {{ parent () }}
    <link href="{{ asset('assets/css/spell/lists.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body_id 'spell-list-level' %}

{% block main %}

    <h1>Listes des sorts 
        {% if level == 0 %}
            mineurs
        {% else %}
            de niveau {{ level }}
        {% endif %}
    </h1>
    <div class="container">
        <ul class="spells-liste">
            {% for sort in sorts|sort((a, b) => a.nameFr <=> b.nameFr) %}
                <li>
                    <a {% if sort.ua == true %}class="spell-ua"{% endif %} href="{{ path('app_view_spell_show', { 'slug': sort.slug }) }}">{{ sort.nameFr }}
                        {% if sort.ua == true %}
                            (AD)
                        {% endif %}
                    </a>
                    : {{ sort.shortDescr }}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}