{% for l in sort.lists|sort ((a, b) => a.number <=> b.number) %}
    {% if l.place == 0 %}
        {% include "client/spell/construct/show/_lists.html.twig" %}
    {% endif %}
{% endfor %}
{% for t in sort.tables|sort ((a, b) => a.number <=> b.number) %}
    {% if t.place == 0 %}
        {% include "client/spell/construct/show/_tables.html.twig" %}
    {% endif %}
{% endfor %}

<p>{{ sort.descr1|raw }}</p>
{% for l in sort.lists|sort ((a, b) => a.number <=> b.number) %}
    {% if l.place == 1 %}
        {% include "client/spell/construct/show/_lists.html.twig" %}
    {% endif %}
{% endfor %}
{% for t in sort.tables|sort ((a, b) => a.number <=> b.number) %}
    {% if t.place == 1 %}
        {% include "client/spell/construct/show/_tables.html.twig" %}
    {% endif %}
{% endfor %}

{% if sort.descr2 %}
    <p>{{ sort.descr2|raw }}</p>
{% endif %}
{% for l in sort.lists|sort ((a, b) => a.number <=> b.number) %}
    {% if l.place == 2 %}
        {% include "client/spell/construct/show/_lists.html.twig" %}
    {% endif %}
{% endfor %}
{% for t in sort.tables|sort ((a, b) => a.number <=> b.number) %}
    {% if t.place == 2 %}
        {% include "client/spell/construct/show/_tables.html.twig" %}
    {% endif %}
{% endfor %}

{% if sort.descr3 %}
    <p>{{ sort.descr3|raw }}</p>
{% endif %}
{% for l in sort.lists|sort ((a, b) => a.number <=> b.number) %}
    {% if l.place == 3 %}
        {% include "client/spell/construct/show/_lists.html.twig" %}
    {% endif %}
{% endfor %}
{% for t in sort.tables|sort ((a, b) => a.number <=> b.number) %}
    {% if t.place == 3 %}
        {% include "client/spell/construct/show/_tables.html.twig" %}
    {% endif %}
{% endfor %}

{% if sort.descr4 %}
    <p>{{ sort.descr4|raw }}</p>
{% endif %}
{% for l in sort.lists|sort ((a, b) => a.number <=> b.number) %}
    {% if l.place == 4 %}
        {% include "client/spell/construct/show/_lists.html.twig" %}
    {% endif %}
{% endfor %}
{% for t in sort.tables|sort ((a, b) => a.number <=> b.number) %}
    {% if t.place == 4 %}
        {% include "client/spell/construct/show/_tables.html.twig" %}
    {% endif %}
{% endfor %}

{% if sort.descr5 %}
    <p>{{ sort.descr5|raw }}</p>
{% endif %}
{% for l in sort.lists|sort ((a, b) => a.number <=> b.number) %}
    {% if l.place == 5 %}
        {% include "client/spell/construct/show/_lists.html.twig" %}
    {% endif %}
{% endfor %}
{% for t in sort.tables|sort ((a, b) => a.number <=> b.number) %}
    {% if t.place == 5 %}
        {% include "client/spell/construct/show/_tables.html.twig" %}
    {% endif %}
{% endfor %}

{% if sort.descr6 %}
    <p>{{ sort.descr6|raw }}</p>
{% endif %}
{% for l in sort.lists|sort ((a, b) => a.number <=> b.number) %}
    {% if l.place == 6 %}
        {% include "client/spell/construct/show/_lists.html.twig" %}
    {% endif %}
{% endfor %}
{% for t in sort.tables|sort ((a, b) => a.number <=> b.number) %}
    {% if t.place == 6 %}
        {% include "client/spell/construct/show/_tables.html.twig" %}
    {% endif %}
{% endfor %}

{% if sort.descr7 %}
    <p>{{ sort.descr7|raw }}</p>
{% endif %}
{% for l in sort.lists|sort ((a, b) => a.number <=> b.number) %}
    {% if l.place == 7 %}
        {% include "client/spell/construct/show/_lists.html.twig" %}
    {% endif %}
{% endfor %}
{% for t in sort.tables|sort ((a, b) => a.number <=> b.number) %}
    {% if t.place == 7 %}
        {% include "client/spell/construct/show/_tables.html.twig" %}
    {% endif %}
{% endfor %}

{% if sort.descr8 %}
    <p>{{ sort.descr8|raw }}</p>
{% endif %}
{% for l in sort.lists|sort ((a, b) => a.number <=> b.number) %}
    {% if l.place == 8 %}
        {% include "client/spell/construct/show/_lists.html.twig" %}
    {% endif %}
{% endfor %}
{% for t in sort.tables|sort ((a, b) => a.number <=> b.number) %}
    {% if t.place == 8 %}
        {% include "client/spell/construct/show/_tables.html.twig" %}
    {% endif %}
{% endfor %}

{% if sort.descr9 %}
    <p>{{ sort.descr9|raw }}</p>
{% endif %}
{% for l in sort.lists|sort ((a, b) => a.number <=> b.number) %}
    {% if l.place == 9 %}
        {% include "client/spell/construct/show/_lists.html.twig" %}
    {% endif %}
{% endfor %}
{% for t in sort.tables|sort ((a, b) => a.number <=> b.number) %}
    {% if t.place == 9 %}
        {% include "client/spell/construct/show/_tables.html.twig" %}
    {% endif %}
{% endfor %}

{% if sort.descr10 %}
    <p>{{ sort.descr10|raw }}</p>
{% endif %}
{% for l in sort.lists|sort ((a, b) => a.number <=> b.number) %}
    {% if l.place == 10 %}
        {% include "client/spell/construct/show/_lists.html.twig" %}
    {% endif %}
{% endfor %}
{% for t in sort.tables|sort ((a, b) => a.number <=> b.number) %}
    {% if t.place == 10 %}
        {% include "client/spell/construct/show/_tables.html.twig" %}
    {% endif %}
{% endfor %}

{% if sort.descr11 %}
    <p>{{ sort.descr11|raw }}</p>
{% endif %}
{% for l in sort.lists|sort ((a, b) => a.number <=> b.number) %}
    {% if l.place == 11 %}
        {% include "client/spell/construct/show/_lists.html.twig" %}
    {% endif %}
{% endfor %}
{% for t in sort.tables|sort ((a, b) => a.number <=> b.number) %}
    {% if t.place == 11 %}
        {% include "client/spell/construct/show/_tables.html.twig" %}
    {% endif %}
{% endfor %}

{% if sort.descr12 %}
    <p>{{ sort.descr12|raw }}</p>
{% endif %}
{% for l in sort.lists|sort ((a, b) => a.number <=> b.number) %}
    {% if l.place == 12 %}
        {% include "client/spell/construct/show/_lists.html.twig" %}
    {% endif %}
{% endfor %}
{% for t in sort.tables|sort ((a, b) => a.number <=> b.number) %}
    {% if t.place == 12 %}
        {% include "client/spell/construct/show/_tables.html.twig" %}
    {% endif %}
{% endfor %}

{% if sort.descr13 %}
    <p>{{ sort.descr13|raw }}</p>
{% endif %}
{% for l in sort.lists|sort ((a, b) => a.number <=> b.number) %}
    {% if l.place == 13 %}
        {% include "client/spell/construct/show/_lists.html.twig" %}
    {% endif %}
{% endfor %}
{% for t in sort.tables|sort ((a, b) => a.number <=> b.number) %}
    {% if t.place == 13 %}
        {% include "client/spell/construct/show/_tables.html.twig" %}
    {% endif %}
{% endfor %}