<ul class="spell-liste">
    <li class="spell-liste-item">{{ l.l1|raw }}</li>
    {% if l.l2 %}
        <li class="spell-liste-item">{{ l.l2|raw }}</li>
    {% endif %}
    {% if l.l3 %}
        <li class="spell-liste-item">{{ l.l3|raw }}</li>
    {% endif %}
    {% if l.l4 %}
        <li class="spell-liste-item">{{ l.l4|raw }}</li>
    {% endif %}
    {% if l.l5 %}
        <li class="spell-liste-item">{{ l.l5|raw }}</li>
    {% endif %}
    {% if l.l6 %}
        <li class="spell-liste-item">{{ l.l6|raw }}</li>
    {% endif %}
    {% if l.l7 %}
        <li class="spell-liste-item">{{ l.l7|raw }}</li>
    {% endif %}
    {% if l.l8 %}
        <li class="spell-liste-item">{{ l.l8|raw }}</li>
    {% endif %}
    {% if l.l9 %}
        <li class="spell-liste-item">{{ l.l9|raw }}</li>
    {% endif %}
    {% if l.l10 %}
        <li class="spell-liste-item">{{ l.l10|raw }}</li>
    {% endif %}
</ul>