<table class="spell-table">
    <tr>
        <th>{{ t.th1 }}</th>
        <th>{{ t.th2 }}</th>
        {% if t.th3 %}
            <th>{{ t.th3 }}</th>
        {% endif %}
        {% if t.th4 %}
            <th>{{ t.th4 }}</th>
        {% endif %}
        {% if t.th5 %}
            <th>{{ t.th5 }}</th>
        {% endif %}
        {% if t.th6 %}
            <th>{{ t.th6 }}</th>
        {% endif %}
    </tr>
    <tr>
        <td>{{ t.tr1Td1 }}</td>
        <td>{{ t.tr1Td2 }}</td>
        {% if t.tr1Td3 %}
            <td>{{ t.tr1Td3 }}</td>
        {% endif %}
        {% if t.tr1Td4 %}
            <td>{{ t.tr1Td4 }}</td>
        {% endif %}
        {% if t.tr1Td5 %}
            <td>{{ t.tr1Td5 }}</td>
        {% endif %}
        {% if t.tr1Td6 %}
            <td>{{ t.tr1Td6 }}</td>
        {% endif %}
    </tr>
    <tr>
        {% if t.tr2Td1 %}
            <td>{{ t.tr2Td1 }}</td>
        {% endif %}
        {% if t.tr2Td2 %}
            <td>{{ t.tr2Td2 }}</td>
        {% endif %}
        {% if t.tr2Td3 %}
            <td>{{ t.tr2Td3 }}</td>
        {% endif %}
        {% if t.tr2Td4 %}
            <td>{{ t.tr2Td4 }}</td>
        {% endif %}
        {% if t.tr2Td5 %}
            <td>{{ t.tr2Td5 }}</td>
        {% endif %}
        {% if t.tr2Td6 %}
            <td>{{ t.tr2Td6 }}</td>
        {% endif %}
    </tr>
    <tr>
        {% if t.tr3Td1 %}
            <td>{{ t.tr3Td1 }}</td>
        {% endif %}
        {% if t.tr3Td2 %}
            <td>{{ t.tr3Td2 }}</td>
        {% endif %}
        {% if t.tr3Td3 %}
            <td>{{ t.tr3Td3 }}</td>
        {% endif %}
        {% if t.tr3Td4 %}
            <td>{{ t.tr3Td4 }}</td>
        {% endif %}
        {% if t.tr3Td5 %}
            <td>{{ t.tr3Td5 }}</td>
        {% endif %}
        {% if t.tr3Td6 %}
            <td>{{ t.tr3Td6 }}</td>
        {% endif %}
    </tr>
    <tr>
        {% if t.tr4Td1 %}
            <td>{{ t.tr4Td1 }}</td>
        {% endif %}
        {% if t.tr4Td2 %}
            <td>{{ t.tr4Td2 }}</td>
        {% endif %}
        {% if t.tr4Td3 %}
            <td>{{ t.tr4Td3 }}</td>
        {% endif %}
        {% if t.tr4Td4 %}
            <td>{{ t.tr4Td4 }}</td>
        {% endif %}
        {% if t.tr4Td5 %}
            <td>{{ t.tr4Td5 }}</td>
        {% endif %}
        {% if t.tr4Td6 %}
            <td>{{ t.tr4Td6 }}</td>
        {% endif %}
    </tr>
    <tr>
        {% if t.tr5Td1 %}
            <td>{{ t.tr5Td1 }}</td>
        {% endif %}
        {% if t.tr5Td2 %}
            <td>{{ t.tr5Td2 }}</td>
        {% endif %}
        {% if t.tr5Td3 %}
            <td>{{ t.tr5Td3 }}</td>
        {% endif %}
        {% if t.tr5Td4 %}
            <td>{{ t.tr5Td4 }}</td>
        {% endif %}
        {% if t.tr5Td5 %}
            <td>{{ t.tr5Td5 }}</td>
        {% endif %}
        {% if t.tr5Td6 %}
            <td>{{ t.tr5Td6 }}</td>
        {% endif %}
    </tr>
    <tr>
        {% if t.tr6Td1 %}
            <td>{{ t.tr6Td1 }}</td>
        {% endif %}
        {% if t.tr6Td2 %}
            <td>{{ t.tr6Td2 }}</td>
        {% endif %}
        {% if t.tr6Td3 %}
            <td>{{ t.tr6Td3 }}</td>
        {% endif %}
        {% if t.tr6Td4 %}
            <td>{{ t.tr6Td4 }}</td>
        {% endif %}
        {% if t.tr6Td5 %}
            <td>{{ t.tr6Td5 }}</td>
        {% endif %}
        {% if t.tr6Td6 %}
            <td>{{ t.tr6Td6 }}</td>
        {% endif %}
    </tr>
    <tr>
        {% if t.tr7Td1 %}
            <td>{{ t.tr7Td1 }}</td>
        {% endif %}
        {% if t.tr7Td2 %}
            <td>{{ t.tr7Td2 }}</td>
        {% endif %}
        {% if t.tr7Td3 %}
            <td>{{ t.tr7Td3 }}</td>
        {% endif %}
        {% if t.tr7Td4 %}
            <td>{{ t.tr7Td4 }}</td>
        {% endif %}
        {% if t.tr7Td5 %}
            <td>{{ t.tr7Td5 }}</td>
        {% endif %}
        {% if t.tr7Td6 %}
            <td>{{ t.tr7Td6 }}</td>
        {% endif %}
    </tr>
</table>