{% extends 'base.html.twig' %}

{% block title %}SpecialtyItem index{% endblock %}

{% block body %}
    <h1>SpecialtyItem index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Descr1</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for specialty_item in specialty_items %}
            <tr>
                <td>{{ specialty_item.id }}</td>
                <td>{{ specialty_item.name }}</td>
                <td>{{ specialty_item.descr1 }}</td>
                <td>
                    <a href="{{ path('app_specialty_item_show', {'id': specialty_item.id}) }}">show</a>
                    <a href="{{ path('app_specialty_item_edit', {'id': specialty_item.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_specialty_item_new') }}">Create new</a>
{% endblock %}
