{% extends 'base.html.twig' %}

{% block title %}Liste des classes{% endblock %}

{% block body_id 'classe-list' %}


{% block main %}

    <div class="classes-container">
        <h1 class="classes-title">Liste des classes</h1>
        <div class="classes-item">
            <h2 class="classes-name">
                <a class="classes-name-link" href="{{ path('app_view_classe_show', { 'slug': 'Barbare' }) }}">Barbare</a>
            </h2>
        </div>
        <div class="classes-item">
            <h2 class="classes-name">
                <a class="classes-name-link" href="{{ path('app_view_classe_show', { 'slug': 'Barde' }) }}">Barde</a>
            </h2>
        </div>
        <div class="classes-item">
            <h2 class="classes-name">
                <a class="classes-name-link" href="{{ path('app_view_classe_show', { 'slug': 'Clerc' }) }}">Clerc</a>
            </h2>
        </div>
        <div class="classes-item">
            <h2 class="classes-name">
                <a class="classes-name-link" href="{{ path('app_view_classe_show', { 'slug': 'Druide' }) }}">Druide</a>
            </h2>
        </div>
        <div class="classes-item">
            <h2 class="classes-name">
                <a class="classes-name-link" href="{{ path('app_view_classe_show', { 'slug': 'Ensorceleur' }) }}">Ensorceleur</a>
            </h2>
        </div>
        <div class="classes-item">
            <h2 class="classes-name">
                <a class="classes-name-link" href="{{ path('app_view_classe_show', { 'slug': 'Guerrier' }) }}">Guerrier</a>
            </h2>
        </div>
        <div class="classes-item">
            <h2 class="classes-name">
                <a class="classes-name-link" href="{{ path('app_view_classe_show', { 'slug': 'Magicien' }) }}">Magicien</a>
            </h2>
        </div>
        <div class="classes-item">
            <h2 class="classes-name">
                <a class="classes-name-link" href="{{ path('app_view_classe_show', { 'slug': 'Moine' }) }}">Moine</a>
            </h2>
        </div>
        <div class="classes-item">
            <h2 class="classes-name">
                <a class="classes-name-link" href="{{ path('app_view_classe_show', { 'slug': 'Occultiste' }) }}">Occultiste</a>
            </h2>
        </div>
        <div class="classes-item">
            <h2 class="classes-name">
                <a class="classes-name-link" href="{{ path('app_view_classe_show', { 'slug': 'Paladin' }) }}">Paladin</a>
            </h2>
        </div>
        <div class="classes-item">
            <h2 class="classes-name">
                <a class="classes-name-link" href="{{ path('app_view_classe_show', { 'slug': 'Rôdeur' }) }}">Rôdeur</a>
            </h2>
        </div>
        <div class="classes-item">
            <h2 class="classes-name">
                <a class="classes-name-link" href="{{ path('app_view_classe_show', { 'slug': 'Roublard' }) }}">Roublard</a>
            </h2>
        </div>
    </div>

{% endblock %}
