{% extends 'base.html.twig' %}

{% block title %}Spell index{% endblock %}

{% block body %}
    <h1>Spell index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name_fr</th>
                <th>Name_eng</th>
                <th>Level</th>
                <th>School</th>
                <th>Casting_time</th>
                <th>Range_effect</th>
                <th>Components</th>
                <th>Components_ingredients</th>
                <th>Duration</th>
                <th>Descr1</th>
                <th>Descr2</th>
                <th>Descr3</th>
                <th>Descr4</th>
                <th>Descr5</th>
                <th>Descr6</th>
                <th>Descr7</th>
                <th>Descr8</th>
                <th>Descr9</th>
                <th>Descr10</th>
                <th>Upper_level</th>
                <th>Source</th>
                <th>Ritual</th>
                <th>Concentration</th>
                <th>Classe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for spell in spells %}
            <tr>
                <td>{{ spell.id }}</td>
                <td>{{ spell.nameFr }}</td>
                <td>{{ spell.nameEng }}</td>
                <td>{{ spell.level }}</td>
                <td>{{ spell.school }}</td>
                <td>{{ spell.castingTime }}</td>
                <td>{{ spell.rangeEffect }}</td>
                <td>{{ spell.components }}</td>
                <td>{{ spell.componentsIngredients }}</td>
                <td>{{ spell.duration }}</td>
                <td>{{ spell.descr1 }}</td>
                <td>{{ spell.descr2 }}</td>
                <td>{{ spell.descr3 }}</td>
                <td>{{ spell.descr4 }}</td>
                <td>{{ spell.descr5 }}</td>
                <td>{{ spell.descr6 }}</td>
                <td>{{ spell.descr7 }}</td>
                <td>{{ spell.descr8 }}</td>
                <td>{{ spell.descr9 }}</td>
                <td>{{ spell.descr10 }}</td>
                <td>{{ spell.upperLevel }}</td>
                <td>{{ spell.source }}</td>
                <td>{{ spell.ritual ? 'Yes' : 'No' }}</td>
                <td>{{ spell.concentration ? 'Yes' : 'No' }}</td>
                <td>
                    {% for classe in spell.classes %}
                        {{ classe.name }},
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_spell_show', {'id': spell.id}) }}">show</a>
                    <a href="{{ path('app_spell_edit', {'id': spell.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="17">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_spell_new') }}">Create new</a>
{% endblock %}
