{% extends 'base.html.twig' %}

{% block title %}StatBlockReaction index{% endblock %}

{% block body %}
    <h1>StatBlockReaction index</h1>
    <a href="{{ path('app_stat_block_reaction_new') }}">Create new</a>
    <br/><br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Descr</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stat_block_reaction in stat_block_reactions %}
            <tr>
                <td>{{ stat_block_reaction.id }}</td>
                <td>{{ stat_block_reaction.name }}</td>
                <td>{{ stat_block_reaction.descr }}</td>
                <td>
                    <a href="{{ path('app_stat_block_reaction_show', {'id': stat_block_reaction.id}) }}">show</a>
                    <a href="{{ path('app_stat_block_reaction_edit', {'id': stat_block_reaction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
