<ul>
    <li><a href="{{ path('app_view_spell_level', { 'level': 0 }) }}">Sorts mineurs</a></li>
    <li><a href="{{ path('app_view_spell_level', { 'level': 1 }) }}">Niveau 1</a></li>
    <li><a href="{{ path('app_view_spell_level', { 'level': 2 }) }}">Niveau 2</a></li>
    <li><a href="{{ path('app_view_spell_level', { 'level': 3 }) }}">Niveau 3</a></li>
    <li><a href="{{ path('app_view_spell_level', { 'level': 4 }) }}">Niveau 4</a></li>
    <li><a href="{{ path('app_view_spell_level', { 'level': 5 }) }}">Niveau 5</a></li>
    <li><a href="{{ path('app_view_spell_level', { 'level': 6 }) }}">Niveau 6</a></li>
    <li><a href="{{ path('app_view_spell_level', { 'level': 7 }) }}">Niveau 7</a></li>
    <li><a href="{{ path('app_view_spell_level', { 'level': 8 }) }}">Niveau 8</a></li>
    <li><a href="{{ path('app_view_spell_level', { 'level': 9 }) }}">Niveau 9</a></li>
</ul>