{% extends 'base.html.twig' %}

{% block title %}Subrace index{% endblock %}

{% block body %}
    <h1>Subrace index</h1>
    <a href="{{ path('app_subrace_new') }}">Create new</a>
    <br/><br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Race</th>
                <th>Source</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subrace in subraces %}
            <tr>
                <td>{{ subrace.id }}</td>
                <td>{{ subrace.source.race.name }}</td>
                <td>{{ subrace.source.name }}</td>
                <td>{{ subrace.name }}</td>
                <td>
                    <a href="{{ path('app_subrace_edit', {'id': subrace.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
