{% extends 'base.html.twig' %}

{% block title %}Talent index{% endblock %}

{% block body %}
    <h1>Talent index</h1>
    <a href="{{ path('app_talent_new') }}">Create new</a>
    <br/><br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Descr1</th>
                <th>Descr2</th>
                <th>Descr3</th>
                <th>Descr4</th>
                <th>Descr5</th>
                <th>Descr6</th>
                <th>Descr7</th>
                <th>Descr8</th>
                <th>Descr9</th>
                <th>Descr10</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for talent in talent %}
            <tr>
                <td>{{ talent.id }}</td>
                <td>{{ talent.name }}</td>
                <td>{{ talent.descr1 }}</td>
                <td>{{ talent.descr2 }}</td>
                <td>{{ talent.descr3 }}</td>
                <td>{{ talent.descr4 }}</td>
                <td>{{ talent.descr5 }}</td>
                <td>{{ talent.descr6 }}</td>
                <td>{{ talent.descr7 }}</td>
                <td>{{ talent.descr8 }}</td>
                <td>{{ talent.descr9 }}</td>
                <td>{{ talent.descr10 }}</td>
                <td>
                    <a href="{{ path('app_talent_show', {'id': talent.id}) }}">show</a>
                    <a href="{{ path('app_talent_edit', {'id': talent.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
