<div class="accordion" id="items-{{ sb.id }}">

    {# SB skills #}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#skill" aria-expanded="true" aria-controls="collapseOne">
                Skills
            </button>
        </h2>
        <div id="skill" class="accordion-collapse collapse" data-bs-parent="#items-{{ sb.id }}">
            <div class="accordion-body">
                <a href="{{ path('app_sb_skill_new', {'slug': sb.slug}) }}">new</a>
                <br/><br/>
                {% include "bo/sb/sb/construct/search/_skills.html.twig" %}
                {% include 'bo/sb/sb/construct/_skills.html.twig' %}
            </div>
        </div>
    </div>

    {# SB actions #}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#action" aria-expanded="true" aria-controls="collapseOne">
                Actions
            </button>
        </h2>
        <div id="action" class="accordion-collapse collapse" data-bs-parent="#items-{{ sb.id }}">
            <div class="accordion-body">
                <a href="{{ path('app_sb_action_new', {'slug': sb.slug}) }}">new</a>
                <br/><br/>
                {% include "bo/sb/sb/construct/search/_actions.html.twig" %}
                {% include 'bo/sb/sb/construct/_actions.html.twig' %}
            </div>
        </div>
    </div>

    {# SB reactions #}
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#reaction" aria-expanded="true" aria-controls="collapseOne">
                Réactions
            </button>
        </h2>
        <div id="reaction" class="accordion-collapse collapse" data-bs-parent="#items-{{ sb.id }}">
            <div class="accordion-body">
                <a href="{{ path('app_sb_reaction_new', {'slug': sb.slug}) }}">new</a>
                <br/><br/>
                {% include "bo/sb/sb/construct/search/_reactions.html.twig" %}
                {% include 'bo/sb/sb/construct/_reactions.html.twig' %}
            </div>
        </div>
    </div>
</div>