{% if specialty.spellTable %}
    <table class="specialty-table">
        <thead class="specialty-thead">
            <tr class="specialty-tr">
                <th colspan="2" class="specialty-th">Sorts du Domaine {{ specialty.spellTable.name }}</th>
            </tr>
            <tr class="specialty-tr">
                <th class="specialty-th">Niv</th>
                <th class="specialty-th">Sorts</th>
            </tr>
        </thead>
        <tbody class="specialty-tbody">
            <tr class="specialty-tr">
                <td class="specialty-td">1</td>
                <td class="specialty-td">{{ specialty.spellTable.tr1Td2|raw }}</td>
            </tr>
            <tr class="specialty-tr">
                <td class="specialty-td">3</td>
                <td class="specialty-td">{{ specialty.spellTable.tr2Td2|raw }}</td>
            </tr>
            <tr class="specialty-tr">
                <td class="specialty-td">5</td>
                <td class="specialty-td">{{ specialty.spellTable.tr3Td2|raw }}</td>
            </tr>
            <tr class="specialty-tr">
                <td class="specialty-td">7</td>
                <td class="specialty-td">{{ specialty.spellTable.tr4Td2|raw }}</td>
            </tr>
            <tr class="specialty-tr">
                <td class="specialty-td">9</td>
                <td class="specialty-td">{{ specialty.spellTable.tr5Td2|raw }}</td>
            </tr>
        </tbody>
    </table>
{% endif %}