<table class="specialty-table">
	<thead class="specialty-thead">
		{% if t.name %}
			<tr class="specialty-tr">
				<th class="specialty-th" colspan="2">{{ t.name }}</th>
			</tr>
		{% endif %}
		<tr class="specialty-tr">
			<th class="specialty-th">{{ t.th1 }}</th>
			<th class="specialty-th">{{ t.th2 }}</th>
		</tr>
	</thead>
	<tbody class="specialty-tbody">
		<tr class="specialty-tr">
			<td class="specialty-td">{{ t.tr1Td1 }}</td>
			<td class="specialty-td">{{ t.tr1Td2|raw }}</td>
		</tr>
		{% if t.tr2Td1 %}
			<tr class="specialty-tr">
				<td class="specialty-td">{{ t.tr2Td1 }}</td>
				<td class="specialty-td">{{ t.tr2Td2|raw }}</td>
			</tr>
		{% endif %}
		{% if t.tr3Td1 %}
			<tr class="specialty-tr">
				<td class="specialty-td">{{ t.tr3Td1 }}</td>
				<td class="specialty-td">{{ t.tr3Td2|raw }}</td>
			</tr>
		{% endif %}
		{% if t.tr4Td1 %}
			<tr class="specialty-tr">
				<td class="specialty-td">{{ t.tr4Td1 }}</td>
				<td class="specialty-td">{{ t.tr4Td2|raw }}</td>
			</tr>
		{% endif %}
		{% if t.tr5Td1 %}
			<tr class="specialty-tr">
				<td class="specialty-td">{{ t.tr5Td1 }}</td>
				<td class="specialty-td">{{ t.tr5Td2|raw }}</td>
			</tr>
		{% endif %}
		{% if t.tr6Td1 %}
			<tr class="specialty-tr">
				<td class="specialty-td">{{ t.tr6Td1 }}</td>
				<td class="specialty-td">{{ t.tr6Td2|raw }}</td>
			</tr>
		{% endif %}
		{% if t.tr7Td1 %}
			<tr class="specialty-tr">
				<td class="specialty-td">{{ t.tr7Td1 }}</td>
				<td class="specialty-td">{{ t.tr7Td2|raw }}</td>
			</tr>
		{% endif %}
		{% if t.tr8Td1 %}
			<tr class="specialty-tr">
				<td class="specialty-td">{{ t.tr8Td1 }}</td>
				<td class="specialty-td">{{ t.tr8Td2|raw }}</td>
			</tr>
		{% endif %}
		{% if t.tr9Td1 %}
			<tr class="specialty-tr">
				<td class="specialty-td">{{ t.tr9Td1 }}</td>
				<td class="specialty-td">{{ t.tr9Td2|raw }}</td>
			</tr>
		{% endif %}
		{% if t.tr10Td1 %}
			<tr class="specialty-tr">
				<td class="specialty-td">{{ t.tr10Td1 }}</td>
				<td class="specialty-td">{{ t.tr10Td2|raw }}</td>
			</tr>
		{% endif %}
		{% if t.tr11Td1 %}
			<tr class="specialty-tr">
				<td class="specialty-td">{{ t.tr11Td1 }}</td>
				<td class="specialty-td">{{ t.tr11Td2|raw }}</td>
			</tr>
		{% endif %}
		{% if t.tr12Td1 %}
			<tr class="specialty-tr">
				<td class="specialty-td">{{ t.tr12Td1 }}</td>
				<td class="specialty-td">{{ t.tr12Td2|raw }}</td>
			</tr>
		{% endif %}
	</tbody>
</table>