{% extends 'base.html.twig' %}

{% block title %}{{ sort.nameFr }}{% endblock %}

{% block stylesheets %}
    {{ parent () }}
    <link href="{{ asset('assets/css/spell/show.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body_id 'spell-item' %}

{% block main %}

    <div class="cont spell-container">
        <h1 class="spell-name">{{ sort.nameFr }} {% if sort.ua == true %} (AD) {% endif %}</h1>
        <p>[ {{ sort.nameEng }} ]</p>
        <p><i>niveau {{ sort.level }} - {{ sort.school.name }} 
            {% if sort.ritual == true %}
                (rituel)
            {% endif %}
        </i></p>
        <div class="spell-items">
            <p><b>Temps d'incantation : </b>{{ sort.castingTime }}</p>
            <p><b>Portée : </b>{{ sort.rangeEffect }}</p>
            <p><b>Composantes : </b>{{ sort.components }} 
                {% if sort.componentsIngredients %}
                    ({{ sort.componentsIngredients}})
                {% endif %}
            </p>
            <p><b>Durée : </b>
                {% if sort.concentration == true %}
                    concentration, 
                {% endif %}
                {{ sort.duration }}
            </p>
        </div>
            {% include "client/spell/construct/show/_descrs.html.twig" %}
            {% if sort.upperLevel %}
                <p><b><i>Aux niveaux supérieurs. </i></b>{{ sort.upperLevel|raw }}</p>
            {% endif %}
        <div class="spell-spans">
            {% for classe in sort.classes %}
                <p class="spell-classe">{{ classe.name }}</p>
            {% endfor %}
            <p class="spell-source">{{ sort.source }} {% if sort.uaPart %}{{ sort.uaPart }}{% endif %}</p>
        </div>
    </div>

{% endblock %}