{% if skill.name == 'Incantation' %}
    <p class="classe-skill-descr">{{ classe.incantation.descr|raw }}</p>
    <div class="classe-skill-subdiv">
        <h4 class="classe-skill-subtitle">{{ classe.incantation.title1 }}</h4>
        <p class="classe-skill-descr">{{ classe.incantation.descrOne1|raw }}</p>
    </div>
    <div class="classe-skill-subdiv">
        <h4 class="classe-skill-subtitle">{{ classe.incantation.title2 }}</h4>
        <p class="classe-skill-descr">{{ classe.incantation.descrTwo1|raw }}</p>
        {% if classe.incantation.descrTwo2 %}
            <p class="classe-skill-descr">{{ classe.incantation.descrTwo2|raw }}</p>
        {% endif %}
        {% if classe.incantation.descrTwo3 %}
            <p class="classe-skill-descr">{{ classe.incantation.descrTwo3|raw }}</p>
        {% endif %}
    </div>
    {% if classe.incantation.title3 %}
        <div class="classe-skill-subdiv">
            <h4 class="classe-skill-subtitle">{{ classe.incantation.title3 }}</h4>
            <p class="classe-skill-descr">{{ classe.incantation.descrThree1|raw }}</p>
        </div>
    {% endif %}
    <div class="classe-skill-subdiv">
        <h4 class="classe-skill-subtitle">{{ classe.incantation.title4 }}</h4>
        <p class="classe-skill-descr">{{ classe.incantation.descrFour1|raw }}</p>
        <div class="classe-skill-dd">
            <p class="classe-skill-DD"><b>DD de sauvegarde des sorts</b> = 8 + votre bonus de maîtrise + votre modificateur de {{ classe.incantation.capacity }}</p>
            <p class="classe-skill-DD"><b>Modificateur aux attaques avec un sort</b> = votre bonus de maîtrise + votre modificateur de {{ classe.incantation.capacity }}</p>
        </div>
    </div>
    <div class="classe-skill-subdiv">
        <h4 class="classe-skill-subtitle">{{ classe.incantation.title5 }}</h4>
        <p class="classe-skill-descr">{{ classe.incantation.descrFive1|raw }}</p>
    </div>
    <div class="classe-skill-subdiv">
        <h4 class="classe-skill-subtitle">{{ classe.incantation.title6 }}</h4>
        <p class="classe-skill-descr">{{ classe.incantation.descrSix1|raw }}</p>
    </div>
{% endif %}