<div class="container">
    <h2 class="spells-lvl">Sorts mineurs</h2>
    <ul class="spells-liste"> 
        {% for sort in sorts|sort((a, b) => a.slug <=> b.slug) %}
            {% if sort.level == 0 %}
                <li>
                    <a href="{{ path('app_view_spell_show', { 'slug': sort.slug }) }}">{{ sort.nameFr }}</a>
                    : {{ sort.shortDescr }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2 class="spells-lvl">Niveau 1</h2>
    <ul class="spells-liste"> 
        {% for sort in sorts|sort((a, b) => a.slug <=> b.slug) %}
            {% if sort.level == 1 %}
                <li>
                    <a href="{{ path('app_view_spell_show', { 'slug': sort.slug }) }}">{{ sort.nameFr }}</a>
                    : {{ sort.shortDescr }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2 class="spells-lvl">Niveau 2</h2>
    <ul class="spells-liste"> 
        {% for sort in sorts|sort((a, b) => a.slug <=> b.slug) %}
            {% if sort.level == 2 %}
                <li>
                    <a href="{{ path('app_view_spell_show', { 'slug': sort.slug }) }}">{{ sort.nameFr }}</a>
                    : {{ sort.shortDescr }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2 class="spells-lvl">Niveau 3</h2>
    <ul class="spells-liste"> 
        {% for sort in sorts|sort((a, b) => a.slug <=> b.slug) %}
            {% if sort.level == 3 %}
                <li>
                    <a href="{{ path('app_view_spell_show', { 'slug': sort.slug }) }}">{{ sort.nameFr }}</a>
                    : {{ sort.shortDescr }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2 class="spells-lvl">Niveau 4</h2>
    <ul class="spells-liste"> 
        {% for sort in sorts|sort((a, b) => a.slug <=> b.slug) %}
            {% if sort.level == 4 %}
                <li>
                    <a href="{{ path('app_view_spell_show', { 'slug': sort.slug }) }}">{{ sort.nameFr }}</a>
                    : {{ sort.shortDescr }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2 class="spells-lvl">Niveau 5</h2>
    <ul class="spells-liste"> 
        {% for sort in sorts|sort((a, b) => a.slug <=> b.slug) %}
            {% if sort.level == 5 %}
                <li>
                    <a href="{{ path('app_view_spell_show', { 'slug': sort.slug }) }}">{{ sort.nameFr }}</a>
                    : {{ sort.shortDescr }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2 class="spells-lvl">Niveau 6</h2>
    <ul class="spells-liste"> 
        {% for sort in sorts|sort((a, b) => a.slug <=> b.slug) %}
            {% if sort.level == 6 %}
                <li>
                    <a href="{{ path('app_view_spell_show', { 'slug': sort.slug }) }}">{{ sort.nameFr }}</a>
                    : {{ sort.shortDescr }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2 class="spells-lvl">Niveau 7</h2>
    <ul class="spells-liste"> 
        {% for sort in sorts|sort((a, b) => a.slug <=> b.slug) %}
            {% if sort.level == 7 %}
                <li>
                    <a href="{{ path('app_view_spell_show', { 'slug': sort.slug }) }}">{{ sort.nameFr }}</a>
                    : {{ sort.shortDescr }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2 class="spells-lvl">Niveau 8</h2>
    <ul class="spells-liste"> 
        {% for sort in sorts|sort((a, b) => a.slug <=> b.slug) %}
            {% if sort.level == 8 %}
                <li>
                    <a href="{{ path('app_view_spell_show', { 'slug': sort.slug }) }}">{{ sort.nameFr }}</a>
                    : {{ sort.shortDescr }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2 class="spells-lvl">Niveau 9</h2>
    <ul class="spells-liste"> 
        {% for sort in sorts|sort((a, b) => a.slug <=> b.slug) %}
            {% if sort.level == 9 %}
                <li>
                    <a href="{{ path('app_view_spell_show', { 'slug': sort.slug }) }}">{{ sort.nameFr }}</a>
                    : {{ sort.shortDescr }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>