{% extends 'base.html.twig' %}

{% block title %}Spell index{% endblock %}

{% block javascripts %}
    {{ parent () }}
    <script src="{{ asset('assets/js/bo/search.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Spell index</h1>
    <a href="{{ path('app_spell_new') }}">Create new</a>
    <br/><br/><br/>

    <div>
        <input type="text" onkeyup="search('search-spell', 'liste-spell')"  id="search-spell" placeholder="chercher"/>
        <ul id="liste-spell">
            {% for s in spells|sort((a, b) => a.slug <=> b.slug) %}
                <li style="display: none;"><span>{{ s.nameFr }}</span> &nbsp; <a href="{{ path('app_spell_edit', {'id': s.id}) }}">Éditer</a><br/></li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
