{% extends 'base.html.twig' %}

{% block title %}StatBlock index{% endblock %}

{% block body %}
    <h1>StatBlock index</h1>
    <a href="{{ path('app_stat_block_new') }}">Create new</a>
    <br/><br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name_fr</th>
                <th>Name_eng</th>
                <th>Type</th>
                <th>Alignement</th>
                <th>Armor</th>
                <th>Pv</th>
                <th>Speed</th>
                <th>Strenght</th>
                <th>Dexterity</th>
                <th>Constitution</th>
                <th>Intelligence</th>
                <th>Wisdow</th>
                <th>Charisma</th>
                <th>Competence</th>
                <th>Sens</th>
                <th>Language</th>
                <th>Fp</th>
                <th>Bm</th>
                <th>Immunity_damage</th>
                <th>Immunity_condition</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stat_block in stat_blocks %}
            <tr>
                <td>{{ stat_block.id }}</td>
                <td>{{ stat_block.nameFr }}</td>
                <td>{{ stat_block.nameEng }}</td>
                <td>{{ stat_block.type }}</td>
                <td>{{ stat_block.alignement }}</td>
                <td>{{ stat_block.armor }}</td>
                <td>{{ stat_block.pv }}</td>
                <td>{{ stat_block.speed }}</td>
                <td>{{ stat_block.strenght }}</td>
                <td>{{ stat_block.dexterity }}</td>
                <td>{{ stat_block.constitution }}</td>
                <td>{{ stat_block.intelligence }}</td>
                <td>{{ stat_block.wisdow }}</td>
                <td>{{ stat_block.charisma }}</td>
                <td>{{ stat_block.competence }}</td>
                <td>{{ stat_block.sens }}</td>
                <td>{{ stat_block.language }}</td>
                <td>{{ stat_block.fp }}</td>
                <td>{{ stat_block.bm }}</td>
                <td>{{ stat_block.immunityDamage }}</td>
                <td>{{ stat_block.immunityCondition }}</td>
                <td>
                    <a href="{{ path('app_stat_block_show', {'id': stat_block.id}) }}">show</a>
                    <a href="{{ path('app_stat_block_edit', {'id': stat_block.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="22">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
