{% extends 'base.html.twig' %}

{% block title %}StatBlock{% endblock %}

{% block body %}
    <h1>StatBlock</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stat_block.id }}</td>
            </tr>
            <tr>
                <th>Name_fr</th>
                <td>{{ stat_block.nameFr }}</td>
            </tr>
            <tr>
                <th>Name_eng</th>
                <td>{{ stat_block.nameEng }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ stat_block.type }}</td>
            </tr>
            <tr>
                <th>Alignement</th>
                <td>{{ stat_block.alignement }}</td>
            </tr>
            <tr>
                <th>Armor</th>
                <td>{{ stat_block.armor }}</td>
            </tr>
            <tr>
                <th>Pv</th>
                <td>{{ stat_block.pv }}</td>
            </tr>
            <tr>
                <th>Speed</th>
                <td>{{ stat_block.speed }}</td>
            </tr>
            <tr>
                <th>Strenght</th>
                <td>{{ stat_block.strenght }}</td>
            </tr>
            <tr>
                <th>Dexterity</th>
                <td>{{ stat_block.dexterity }}</td>
            </tr>
            <tr>
                <th>Constitution</th>
                <td>{{ stat_block.constitution }}</td>
            </tr>
            <tr>
                <th>Intelligence</th>
                <td>{{ stat_block.intelligence }}</td>
            </tr>
            <tr>
                <th>Wisdow</th>
                <td>{{ stat_block.wisdow }}</td>
            </tr>
            <tr>
                <th>Charisma</th>
                <td>{{ stat_block.charisma }}</td>
            </tr>
            <tr>
                <th>Competence</th>
                <td>{{ stat_block.competence }}</td>
            </tr>
            <tr>
                <th>Sens</th>
                <td>{{ stat_block.sens }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ stat_block.language }}</td>
            </tr>
            <tr>
                <th>Fp</th>
                <td>{{ stat_block.fp }}</td>
            </tr>
            <tr>
                <th>Bm</th>
                <td>{{ stat_block.bm }}</td>
            </tr>
            <tr>
                <th>Immunity_damage</th>
                <td>{{ stat_block.immunityDamage }}</td>
            </tr>
            <tr>
                <th>Immunity_condition</th>
                <td>{{ stat_block.immunityCondition }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_stat_block_index') }}">back to list</a>

    <a href="{{ path('app_stat_block_edit', {'id': stat_block.id}) }}">edit</a>

    {{ include('stat_block/_delete_form.html.twig') }}
{% endblock %}
