{% extends 'base.html.twig' %}

{% block title %}Incantation index{% endblock %}

{% block body %}
    <h1>Incantation index</h1>
    <a href="{{ path('app_incantation_new') }}">Create new</a>
    <br/><br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descr</th>
                <th>Title1</th>
                <th>Descr_one1</th>
                <th>Title2</th>
                <th>Descr_two1</th>
                <th>Descr_two2</th>
                <th>Desc_two3</th>
                <th>Title3</th>
                <th>Descr_three1</th>
                <th>Title4</th>
                <th>Descr_four1</th>
                <th>Capacity</th>
                <th>Title5</th>
                <th>Descr_five1</th>
                <th>Title6</th>
                <th>Descr_six1</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for incantation in incantations %}
            <tr>
                <td>{{ incantation.id }}</td>
                <td>{{ incantation.descr }}</td>
                <td>{{ incantation.title1 }}</td>
                <td>{{ incantation.descrOne1 }}</td>
                <td>{{ incantation.title2 }}</td>
                <td>{{ incantation.descrTwo1 }}</td>
                <td>{{ incantation.descrTwo2 }}</td>
                <td>{{ incantation.descrTwo3 }}</td>
                <td>{{ incantation.title3 }}</td>
                <td>{{ incantation.descrThree1 }}</td>
                <td>{{ incantation.title4 }}</td>
                <td>{{ incantation.descrFour1 }}</td>
                <td>{{ incantation.capacity }}</td>
                <td>{{ incantation.title5 }}</td>
                <td>{{ incantation.descrFive1 }}</td>
                <td>{{ incantation.title6 }}</td>
                <td>{{ incantation.descrSix1 }}</td>
                <td>
                    <a href="{{ path('app_incantation_show', {'id': incantation.id}) }}">show</a>
                    <a href="{{ path('app_incantation_edit', {'id': incantation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="18">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
