{# sourceRace talents #}
{% for talent in source.talent %}
    <h4 class="race-talent-title">{{ talent.name }}</h4>
    <p class="race-talent-description">{{ talent.descr1 }}</p>

    {# talent description #}
    {% if talent.descr2 %}
        <p class="race-talent-description">{{ talent.descr2 }}</p>
    {% endif %}
    {% if talent.descr3 %}
        <p class="race-talent-description">{{ talent.descr3 }}</p>
    {% endif %}
    {% if talent.descr4 %}
        <p class="race-talent-description">{{ talent.descr4 }}</p>
    {% endif %}
    {% if talent.descr5 %}
        <p class="race-talent-description">{{ talent.descr5 }}</p>
    {% endif %}
    {% if talent.descr6 %}
        <p class="race-talent-description">{{ talent.descr6 }}</p>
    {% endif %}
    {% if talent.descr7 %}
        <p class="race-talent-description">{{ talent.descr7 }}</p>
    {% endif %}
    {% if talent.descr8 %}
        <p class="race-talent-description">{{ talent.descr8 }}</p>
    {% endif %}
    {% if talent.descr9 %}
        <p class="race-talent-description">{{ talent.descr9 }}</p>
    {% endif %}
    {% if talent.descr10 %}
        <p class="race-talent-description">{{ talent.descr10 }}</p>
    {% endif %}

    {# dragonborn #}
    {% include 'client/race/dragonborn/_source-talent.html.twig' %}

{% endfor %}