|raw{# sourceRace #}
{% for source in race.sourceRaces %}
    <h2 class="race-source-title">{{ source.name }}</h2>

    {# sourceRace items #}
    {% if source.descr1 %}
        <p class="race-description">{{ source.descr1|raw }}
    {% endif %}
    {% if source.descr2 %}
        <p class="race-description">{{ source.descr2|raw }}
    {% endif %}
    {% if source.descr3 %}
        <p class="race-description">{{ source.descr3|raw }}
    {% endif %}
    {% if source.descr4 %}
        <p class="race-description">{{ source.descr4|raw }}
    {% endif %}
    {% if source.descr5 %}
        <p class="race-description">{{ source.descr5|raw }}
    {% endif %}
    {% if source.abilityInc %}
        <p class="race-item"><b>Amélioration de score de capacité : </b>{{ source.abilityInc }}</p>
    {% endif %}
    {% if source.type %}
        <p class="race-item"><b>Type : </b>{{ source.type }}</p>
    {% endif %}
    {% if source.age %}
        <p class="race-item"><b>Âge : </b>{{ source.age }}</p>
    {% endif %}
    {% if source.alignment %}
        <p class="race-item"><b>Alignement : </b>{{ source.alignment }}</p>
    {% endif %}
    {% if source.size %}
        <p class="race-item"><b>Taille : </b>{{ source.size }}</p>
    {% endif %}
    {% if source.speed %}
        <p class="race-item"><b>Vitesse : </b>{{ source.speed }}</p>
    {% endif %}
    {% if source.language %}
        <p class="race-item"><b>Languages : </b>{{ source.language }}</p>
    {% endif %}

    {% include 'client/race/construct/_source-talent.html.twig' %}

    {% include 'client/race/construct/_subrace.html.twig' %}

{% endfor %}