<table class="talent-table">
    <thead>
        {% if talent.talentTable.name %}
            <tr>
                <th colspan="2">{{ talent.talentTable.name }}</th>
            </tr>
        {% endif %}
        <tr>
            <th>{{ talent.talentTable.th1 }}</th>
            <th>{{ talent.talentTable.th2 }}</th>
            {% if talent.talentTable.th3 %}
                <th>{{ talent.talentTable.th3 }}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ talent.talentTable.tr1Td1 }}</td>
            <td>{{ talent.talentTable.tr1Td2 }}</td>
            {% if talent.talentTable.tr1Td3 %}
                <td>{{ talent.talentTable.tr1Td3 }}</td>
            {% endif %}
        </tr>
        {% if talent.talentTable.tr2td1 %}
            <tr>
                <td>{{ talent.talentTable.tr2Td1 }}</td>
                <td>{{ talent.talentTable.tr2Td2 }}</td>
                {% if talent.talentTable.tr2Td3 %}
                    <td>{{ talent.talentTable.tr2Td3 }}</td>
                {% endif %}
            </tr>
        {% endif %}
        {% if talent.talentTable.tr3td1 %}
            <tr>
                <td>{{ talent.talentTable.tr3Td1 }}</td>
                <td>{{ talent.talentTable.tr3Td2 }}</td>
                {% if talent.talentTable.tr3Td3 %}
                    <td>{{ talent.talentTable.tr3Td3 }}</td>
                {% endif %}
            </tr>
        {% endif %}
        {% if talent.talentTable.tr4td1 %}
            <tr>
                <td>{{ talent.talentTable.tr4Td1 }}</td>
                <td>{{ talent.talentTable.tr4Td2 }}</td>
                {% if talent.talentTable.tr4Td3 %}
                    <td>{{ talent.talentTable.tr4Td3 }}</td>
                {% endif %}
            </tr>
        {% endif %}
        {% if talent.talentTable.tr5td1 %}
            <tr>
                <td>{{ talent.talentTable.tr5Td1 }}</td>
                <td>{{ talent.talentTable.tr5Td2 }}</td>
                {% if talent.talentTable.tr5Td3 %}
                    <td>{{ talent.talentTable.tr5Td3 }}</td>
                {% endif %}
            </tr>
        {% endif %}
        {% if talent.talentTable.tr6td1 %}
            <tr>
                <td>{{ talent.talentTable.tr6Td1 }}</td>
                <td>{{ talent.talentTable.tr6Td2 }}</td>
                {% if talent.talentTable.tr6Td3 %}
                    <td>{{ talent.talentTable.tr6Td3 }}</td>
                {% endif %}
            </tr>
        {% endif %}
        {% if talent.talentTable.tr7td1 %}
            <tr>
                <td>{{ talent.talentTable.tr7Td1 }}</td>
                <td>{{ talent.talentTable.tr7Td2 }}</td>
                {% if talent.talentTable.tr7Td3 %}
                    <td>{{ talent.talentTable.tr7Td3 }}</td>
                {% endif %}
            </tr>
        {% endif %}
        {% if talent.talentTable.tr8td1 %}
            <tr>
                <td>{{ talent.talentTable.tr8Td1 }}</td>
                <td>{{ talent.talentTable.tr8Td2 }}</td>
                {% if talent.talentTable.tr8Td3 %}
                    <td>{{ talent.talentTable.tr8Td3 }}</td>
                {% endif %}
            </tr>
        {% endif %}
        {% if talent.talentTable.tr9td1 %}
            <tr>
                <td>{{ talent.talentTable.tr9Td1 }}</td>
                <td>{{ talent.talentTable.tr9Td2 }}</td>
                {% if talent.talentTable.tr9Td3 %}
                    <td>{{ talent.talentTable.tr9Td3 }}</td>
                {% endif %}
            </tr>
        {% endif %}
        {% if talent.talentTable.tr10td1 %}
            <tr>
                <td>{{ talent.talentTable.tr10Td1 }}</td>
                <td>{{ talent.talentTable.tr10Td2 }}</td>
                {% if talent.talentTable.tr10Td3 %}
                    <td>{{ talent.talentTable.tr10Td3 }}</td>
                {% endif %}
            </tr>
        {% endif %}
    </tbody>
</table>
        