{% extends 'base.html.twig' %}

{% block title %}Liste des classes{% endblock %}

{% block stylesheets %}
    {{ parent () }}
    <link href="{{ asset('assets/css/classe/list.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body_id 'classe-list' %}


{% block main %}

    <h1 class="classe-title">Liste des classes</h1>
    <div class="classe-container">
        <ul class="classe-liste">
            <li class="classe-item all-items">
                {% for classe in classes|sort((a, b) => a.slug <=> b.slug) %}
                    <a href="#{{ classe.slug }}">{{ classe.name }}</a>
                {% endfor %}
            </li>
            {% for classe in classes|sort((a, b) => a.slug <=> b.slug) %}
                <li class="classe-item" id="{{ classe.slug }}">
                    <div class="classe-icon-container">
                        <img class="classe-icon" src="{{ asset('assets/img/classe-icons/' ~ classe.icon) }}" alt="{{ classe.name }}"/>
                    </div>
                    <a class="classe-link" href="{{ path('app_view_classe_show', { 'slug': classe.slug }) }}">{{ classe.name }}</a>
                    <ul class="classe-item-liste">
                        <li class="classe-items">{{ classe.specialty.name }}
                            <ul class="classe-items-liste">
                                {% for specialty in classe.specialty.specialtyItems|sort((a, b) => a.slug <=> b.slug) %}
                                    {% if specialty.ua == false %}
                                        <li class="classe-items-item">
                                            <a class="classe-items-item-link" href="{{ path('app_view_specialty_show', { 'slug': classe.slug, 'slug2': specialty.slug }) }}">{{ specialty.name }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="classe-items">Arcanes déterrées
                            <ul class="classe-items-liste">
                                {% for specialty in classe.specialty.specialtyItems|sort((a, b) => a.slug <=> b.slug) %}
                                    {% if specialty.ua == true %}
                                        <li class="classe-items-item">
                                            <a class="classe-items-item-link" href="{{ path('app_view_specialty_show', { 'slug': classe.slug, 'slug2': specialty.slug }) }}">{{ specialty.name }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% if classe.spells|length >= 1 %}
                            <li class="classe-items">Liens rapides
                                <ul class="classe-items-liste">
                                    {% if classe.spells|length >= 1 %}
                                        <li class="classe-items-item">
                                            <a class="classe-items-item-link" href="{{ path('app_view_spell_classe', { 'slug': classe.slug }) }}">Liste des sorts de {{ classe.name }}</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
