{% extends 'base.html.twig' %}

{% block title %}Liste des classes{% endblock %}

{% block stylesheets %}
    {{ parent () }}
    <link href="{{ asset('assets/css/classe/list.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body_id 'classe-list' %}


{% block main %}

    <div class="classe-container">
        <h1 class="classe-title">Liste des classes</h1>
        <ul class="classe-liste">
            {% for classe in classes %}
                <li class="classe-item">
                    <div class="classe-icon-container">
                        <img class="classe-icon" src="{{ asset('assets/img/classe-icons/' ~ classe.icon) }}" alt="{{ classe.name }}"/>
                    </div>
                    <a class="classe-link" href="{{ path('app_view_classe_show', { 'slug': classe.name }) }}">{{ classe.name }}</a>
                    <ul class="classe-item-liste">
                        <li class="classe-items">
                            <a class="classe-items-link" href="">{{ classe.specialty.name }}</a>
                            <ul class="classe-items-liste">
                                {% for specialty in classe.specialty.specialtyItems|sort(a => a.name) %}
                                    <li class="classe-items-item">
                                        <a class="classe-items-item-link" href="{{ path('app_view_specialty_show', { 'slug': classe.name, 'slug2': specialty.name }) }}">{{ specialty.name }}</a>
                                         - {{ specialty.source }}
                                    </li>
                                {% endfor %}
                            </ul>
                        <li class="classe-items">Liens rapides
                            <ul class="classe-items-liste">
                            </ul>
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
