{% extends 'base.html.twig' %}

{% block title %}{{ classe.name }}{% endblock %}

{% block body_id 'classe-item' %}

{% block main %}

    <h1 class="classe-title">{{ classe.name }}</h1>

    <h2 class="classe-subtitle">Points de vie</h2>
    <p class="classe-dv"><b>DV : </b>1d{{ classe.dv }} par niveau de {{ classe.name }}</p>
    <p class="classe-pv-lvl1"><b>Pv au niveau 1 : </b>{{ classe.dv }} + votre modificateur de Constitution</p>
    <p class="classe-pv-lvls"><b>Pv aux niveaux suivants : </b>1d{{ classe.dv }} + votre modificateur de Constitution</p>

    <h2 class="classe-subtitle">Maîtrises</h2>
    <p class="classe-armor"><b>Armures : </b>{{ classe.armor }}</p>
    <p class="classe-weapon"><b>Armes : </b>{{ classe.weapon }}</p>
    <p class="classe-tool"><b>Outils : </b>{{ classe.tool }}</p>
    <p class="classe-save"><b>Jets de sauvegarde : </b>{{ classe.save }}</p>
    <p class="classe-competence"><b>Comnpétences : </b>{{ classe.competence }}</p>

    <h2 class="classe-subtitle">Équipement</h2>
    <p class="classe-equipment">Vous commencez avec l'équipement suivant, en plus de l'équipement accordé par votre historique :</p>
    <ul class="classe-equipment-items">
        <li class="classe-equipment-item">{{ classe.equipment1 }}</li>
        {% if classe.equipment2 %}
            <li class="classe-equipment-item">{{ classe. equipment2 }}</li>
        {% endif %}
        {% if classe.equipment3 %}
            <li class="classe-equipment-item">{{ classe. equipment3 }}</li>
        {% endif %}
        {% if classe.equipment4 %}
            <li class="classe-equipment-item">{{ classe. equipment4 }}</li>
        {% endif %}
        {% if classe.equipment5 %}
            <li class="classe-equipment-item">{{ classe. equipment5 }}</li>
        {% endif %}
    </ul>

    {% if classe.name == 'Barbare' %}
        {% include 'client/classe/tables/_barbare.html.twig' %}
    {% elseif classe.name == 'Barde' %}
        {% include 'client/classe/tables/_barde.html.twig' %}
    {% elseif classe.name == 'Clerc' %}
        {% include 'client/classe/tables/_clerc.html.twig' %}
    {% elseif classe.name == 'Druide' %}
        {% include 'client/classe/tables/_druide.html.twig' %}
    {% elseif classe.name == 'Ensorceleur' %}
        {% include 'client/classe/tables/_ensorceleur.html.twig' %}
    {% elseif classe.name == 'Guerrier' %}
        {% include 'client/classe/tables/_guerrier.html.twig' %}
    {% elseif classe.name == 'Magicien' %}
        {% include 'client/classe/tables/_magicien.html.twig' %}
    {% elseif classe.name == 'Moine' %}
        {% include 'client/classe/tables/_moine.html.twig' %}
    {% elseif classe.name == 'Occultiste' %}
        {% include 'client/classe/tables/Occultiste.html.twig' %}
    {% elseif classe.name == 'Paladin' %}
        {% include 'client/classe/tables/_paladin.html.twig' %}
    {% elseif classe.name == 'Rôdeur' %}
        {% include 'client/classe/tables/_rodeur.html.twig' %}
    {% elseif classe.name == 'Roublard' %}
        {% include 'client/classe/tables/_roublard.html.twig' %}
    {% endif %}

    {% set newArray = [] %}
    {% for level in classe.classeByLevels %}
        {% for skill in level.skills %}
            {% if skill.name not in newArray %}
                <div class="classe-skill-div">
                    <h3 class="classe-skill-title">{{ skill.name }}</h2>
                    {% if skill.descr1 %}
                        <p class="classe-skill-descr">{{ skill.descr1 }}</p>
                    {% endif %}
                    {% if skill.descr2 %}
                        <p class="classe-skill-descr">{{ skill.descr2 }}<p>
                    {% endif %}
                    {% if skill.descr3 %}
                        <p class="classe-skill-descr">{{ skill.descr3 }}<p>
                    {% endif %}
                    {% if skill.descr4 %}
                        <p class="classe-skill-descr">{{ skill.descr4 }}<p>
                    {% endif %}
                    {% if skill.descr5 %}
                        <p class="classe-skill-descr">{{ skill.descr5 }}<p>
                    {% endif %}
                    {% if skill.descr6 %}
                        <p class="classe-skill-descr">{{ skill.descr6 }}<p>
                    {% endif %}
                    {% if skill.descr7 %}
                        <p class="classe-skill-descr">{{ skill.descr7 }}<p>
                    {% endif %}
                    {% if skill.descr8 %}
                        <p class="classe-skill-descr">{{ skill.descr8 }}<p>
                    {% endif %}
                    {% if skill.descr9 %}
                        <p class="classe-skill-descr">{{ skill.descr9 }}<p>
                    {% endif %}
                    {% if skill.descr10 %}
                        <p class="classe-skill-descr">{{ skill.descr10 }}<p>
                    {% endif %}

                    {% if skill.name == 'Incantation' %}
                        {% if classe.name == 'Barde' %}
                            {% include 'client/classe/spelling/_barde.html.twig' %}
                        {% elseif classe.name == 'Clerc' %}
                            {% include 'client/classe/spelling/_clerc.html.twig' %}
                        {% endif %}
                    {% endif %}

                    {% if skill.name == 'Domaine divin' %}
                        {% include 'client/classe/clerc/_domaine-divin.html.twig' %}
                    {% endif %}

                    {% if skill.name == 'Conduit divin' %}
                        {% include 'client/classe/clerc/_conduit-divin.html.twig' %}
                    {% endif %}

                    {% if skill.name == 'Destruction des morts-vivants' %}
                        {% include 'client/classe/clerc/_table-undead.html.twig' %}
                    {% endif %}

                </div>
            {% set newArray = newArray|merge([skill.name]) %}
            {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock %}