{% extends 'base.html.twig' %}

{% block title %}{{ specialty.name }}{% endblock %}

{% block stylesheets %}
    {{ parent () }}
    <link href="{{ asset('assets/css/classe/specialty.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/css/classe/statblock/table.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body_id 'specialty-item' %}


{% block main %}

    <h1 class="specialty-title">    
        {% if specialty.part %}
            {{ specialty.part }}
            {% if specialty.part2 == "de l'" %}{{ specialty.part2 }}{{ specialty.name }}{% else %}{{ specialty.part2 }} {{ specialty.name }}{% endif %}
        {% else %}
            {{ specialty.name }}
        {% endif %}
        {% if specialty.ua == true %}(AD){% endif %}
    </h1>
    <div class="cont">
        <p class="specialty-descr">{{ specialty.descr1|raw }}</p>
        {% if specialty.descr2 %}<p class="specialty-descr">{{ specialty.descr2|raw }}</p>{% endif %}
        {% if specialty.descr3 %}<p class="specialty-descr">{{ specialty.descr3|raw }}</p>{% endif %}
        {% if specialty.descr4 %}<p class="specialty-descr">{{ specialty.descr4|raw }}</p>{% endif %}
        {% if specialty.descr5 %}<p class="specialty-descr">{{ specialty.descr5|raw }}</p>{% endif %}

        {# specialty table #}
        {% include 'client/classe/construct/specialty/_table.html.twig' %}

        <p class="specialty-source">Source : 
            {% for s in specialty.sources %}
                {{ s.name }}
                {% for p in specialty.sourceParts %}
                    {% for ps in s.parts %}
                        {% if p == ps %} {{ p.number}} - {{ p.name }}{% endif %}
                    {% endfor %}
                {% endfor %} 
                {{ not loop.last ? ',' }}
            {% endfor %}
        </p>

        {# specialty domain table #}
        {% include 'client/classe/construct/specialty/_domain-spell-table.html.twig' %}

        {# specialty skill #}
        {% include "client/classe/construct/specialty/_skill.html.twig" %}
    </div>

{% endblock %}