{% extends 'base.html.twig' %}

{% block title %}ClasseByLevel{% endblock %}

{% block body %}
    <h1>ClasseByLevel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ classe_by_level.id }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ classe_by_level.level }}</td>
            </tr>
            <tr>
                <th>Bm</th>
                <td>{{ classe_by_level.bm }}</td>
            </tr>
            <tr>
                <th>Rage</th>
                <td>{{ classe_by_level.rage }}</td>
            </tr>
            <tr>
                <th>Damage</th>
                <td>{{ classe_by_level.damage }}</td>
            </tr>
            <tr>
                <th>Cantrip</th>
                <td>{{ classe_by_level.cantrip }}</td>
            </tr>
            <tr>
                <th>Knowing_spells</th>
                <td>{{ classe_by_level.knowingSpells }}</td>
            </tr>
            <tr>
                <th>Spell_one</th>
                <td>{{ classe_by_level.spellOne }}</td>
            </tr>
            <tr>
                <th>Spell_two</th>
                <td>{{ classe_by_level.spellTwo }}</td>
            </tr>
            <tr>
                <th>Spell_three</th>
                <td>{{ classe_by_level.spellThree }}</td>
            </tr>
            <tr>
                <th>Spell_four</th>
                <td>{{ classe_by_level.spellFour }}</td>
            </tr>
            <tr>
                <th>Spell_five</th>
                <td>{{ classe_by_level.spellFive }}</td>
            </tr>
            <tr>
                <th>Spell_six</th>
                <td>{{ classe_by_level.spellSix }}</td>
            </tr>
            <tr>
                <th>Spell_seven</th>
                <td>{{ classe_by_level.spellSeven }}</td>
            </tr>
            <tr>
                <th>Spell_eight</th>
                <td>{{ classe_by_level.spellEight }}</td>
            </tr>
            <tr>
                <th>Spell_nine</th>
                <td>{{ classe_by_level.spellNine }}</td>
            </tr>
            <tr>
                <th>Sorcery_point</th>
                <td>{{ classe_by_level.sorceryPoint }}</td>
            </tr>
            <tr>
                <th>Martial_art</th>
                <td>{{ classe_by_level.martialArt }}</td>
            </tr>
            <tr>
                <th>Ki</th>
                <td>{{ classe_by_level.ki }}</td>
            </tr>
            <tr>
                <th>Movement_without_armor</th>
                <td>{{ classe_by_level.movementWithoutArmor }}</td>
            </tr>
            <tr>
                <th>Slot_space</th>
                <td>{{ classe_by_level.slotSpace }}</td>
            </tr>
            <tr>
                <th>Slot_level</th>
                <td>{{ classe_by_level.slotLevel }}</td>
            </tr>
            <tr>
                <th>Invocation_know</th>
                <td>{{ classe_by_level.invocationKnow }}</td>
            </tr>
            <tr>
                <th>Sneak_attack</th>
                <td>{{ classe_by_level.sneakAttack }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_classe_by_level_index') }}">back to list</a>

    <a href="{{ path('app_classe_by_level_edit', {'id': classe_by_level.id}) }}">edit</a>

    {{ include('bo/classe_by_level/_delete_form.html.twig') }}
{% endblock %}
