{% extends 'base.html.twig' %}

{% block title %}SpellSchool index{% endblock %}

{% block body %}
    <h1>SpellSchool index</h1>
    <a href="{{ path('app_spell_school_new') }}">Create new</a>
    <br/><br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for spell_school in spell_schools %}
            <tr>
                <td>{{ spell_school.id }}</td>
                <td>{{ spell_school.name }}</td>
                <td>{{ spell_school.slug }}</td>
                <td>
                    <a href="{{ path('app_spell_school_edit', {'id': spell_school.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
