{% extends 'base.html.twig' %}

{% block title %}SpecialtySkillTable index{% endblock %}

{% block body %}
    <h1>SpecialtySkillTable index</h1>
    <a href="{{ path('app_specialty_skill_table_new') }}">Create new</a>
    <br/><br/><br/>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Th1</th>
                <th>Th2</th>
                <th>Tr1_td1</th>
                <th>Tr1_td2</th>
                <th>Tr2_td1</th>
                <th>Tr2_td2</th>
                <th>Tr3_td1</th>
                <th>Tr3_td2</th>
                <th>Tr4_td1</th>
                <th>Tr4_td2</th>
                <th>Tr5_td1</th>
                <th>Tr5_td2</th>
                <th>Tr6_td1</th>
                <th>Tr6_td2</th>
                <th>Tr7_td1</th>
                <th>Tr7_td2</th>
                <th>Tr8_td1</th>
                <th>Tr8_td2</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for specialty_skill_table in specialty_skill_tables %}
            <tr>
                <td>{{ specialty_skill_table.id }}</td>
                <td>{{ specialty_skill_table.name }}</td>
                <td>{{ specialty_skill_table.th1 }}</td>
                <td>{{ specialty_skill_table.th2 }}</td>
                <td>{{ specialty_skill_table.tr1Td1 }}</td>
                <td>{{ specialty_skill_table.tr1Td2 }}</td>
                <td>{{ specialty_skill_table.tr2Td1 }}</td>
                <td>{{ specialty_skill_table.tr2Td2 }}</td>
                <td>{{ specialty_skill_table.tr3Td1 }}</td>
                <td>{{ specialty_skill_table.tr3Td2 }}</td>
                <td>{{ specialty_skill_table.tr4Td1 }}</td>
                <td>{{ specialty_skill_table.tr4Td2 }}</td>
                <td>{{ specialty_skill_table.tr5Td1 }}</td>
                <td>{{ specialty_skill_table.tr5Td2 }}</td>
                <td>{{ specialty_skill_table.tr6Td1 }}</td>
                <td>{{ specialty_skill_table.tr6Td2 }}</td>
                <td>{{ specialty_skill_table.tr7Td1 }}</td>
                <td>{{ specialty_skill_table.tr7Td2 }}</td>
                <td>{{ specialty_skill_table.tr8Td1 }}</td>
                <td>{{ specialty_skill_table.tr8Td2 }}</td>
                <td>
                    <a href="{{ path('app_specialty_skill_table_show', {'id': specialty_skill_table.id}) }}">show</a>
                    <a href="{{ path('app_specialty_skill_table_edit', {'id': specialty_skill_table.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="21">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
