{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% set _route = app.request.get('_route') %}

<div class="nav-container">
    <div class="nav-layer">
        <div class="nav-logo">
        </div>
        <div class="nav-menu">
            <ul class="nav-menu-items">
                <li class="nav-menu-item">
                    <a class="nav-menu-link" href="{{ path('app_view_classe_index') }}">Classes</a>
                    <ul class="nav-menu-classe-items">
                        
                        {% for classe in classes %}
                            <li class="nav-menu-classe-item">
                                <a class="nav-menu-classe-link" href="{{ path('app_view_classe_show', { 'slug': classe.name }) }}">{{ classe.name }}</a>
                            </li>
                        {% endfor %}

                    </ul>
                </li>
                <li class="nav-menu-item">
                    <a class="nav-menu-link" href="{{ path('app_view_race_index') }}">Races</a>
                    <ul class="nav-menu-classe-items">
                        <li>Communes
                            <ul>
                                {% for common in commons %}
                                    <li><a href="{{ path('app_view_race_show', { 'slug': common.name }) }}">{{ common.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>Exotiques
                            <ul>
                                {% for exotic in exotics %}
                                    <li><a href="{{ path('app_view_race_show', { 'slug': exotic.name }) }}">{{ exotic.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>Monstrueuses
                            <ul>
                                {% for monstruou in monstruous %}
                                    <li><a href="{{ path('app_view_race_show', { 'slug': monstruou.name }) }}">{{ monstruou.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-menu-item">
                    <a class="nav-menu-link" href="{{ path('app_view_spell_index') }}">Sorts</a>
                    <ul>
                        <li><a href="{{ path('app_view_spell_all') }}">Tous les sorts</a></li>
                        <li>Par niveau
                            <ul>
                                <li><a href="{{ path('app_view_spell_level', { 'level': 1 }) }}">Niveau 1</a></li>
                                <li><a href="{{ path('app_view_spell_level', { 'level': 2 }) }}">Niveau 2</a></li>
                                <li><a href="{{ path('app_view_spell_level', { 'level': 3 }) }}">Niveau 3</a></li>
                                <li><a href="{{ path('app_view_spell_level', { 'level': 4 }) }}">Niveau 4</a></li>
                                <li><a href="{{ path('app_view_spell_level', { 'level': 5 }) }}">Niveau 5</a></li>
                                <li><a href="{{ path('app_view_spell_level', { 'level': 6 }) }}">Niveau 6</a></li>
                                <li><a href="{{ path('app_view_spell_level', { 'level': 7 }) }}">Niveau 7</a></li>
                                <li><a href="{{ path('app_view_spell_level', { 'level': 8 }) }}">Niveau 8</a></li>
                                <li><a href="{{ path('app_view_spell_level', { 'level': 9 }) }}">Niveau 9</a></li>
                            </ul>
                        </li>
                        <li>Par classe
                            <ul>
                                {% for classe in classes %}
                                    {% if classe.spells|length >= 1 %}
                                        <li><a href="{{ path('app_view_spell_classe', { 'slug': classe.name }) }}">{{ classe.name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        <li>Par école
                            <ul>
                                <li><a href="{{ path('app_view_spell_school', { 'slug': 'abjuration' }) }}">Abjuration</a></li>
                                <li><a href="{{ path('app_view_spell_school', { 'slug': 'divination' }) }}">Divination</a></li>
                                <li><a href="{{ path('app_view_spell_school', { 'slug': 'enchantement' }) }}">Enchantement</a></li>
                                <li><a href="{{ path('app_view_spell_school', { 'slug': 'invocation' }) }}">Évocation</a></li>
                                <li><a href="{{ path('app_view_spell_school', { 'slug': 'illusion' }) }}">Illusion</a></li>
                                <li><a href="{{ path('app_view_spell_school', { 'slug': 'invocation' }) }}">Invocation</a></li>
                                <li><a href="{{ path('app_view_spell_school', { 'slug': 'nécromancie' }) }}">Nécromancie</a></li>
                                <li><a href="{{ path('app_view_spell_school', { 'slug': 'transmutation' }) }}">Transmutation</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>